init.author.name = John Smith
init.author.email = john.smith@my-org.com
# an email is required to publish npm packages
email=john.smith@my-org.com

# A good default to start with. But if you find that you have problems
# installing npm packages from GitHub repos (which is a case in which
# this npm error may arise):
#   npm ERR! code E401
#   npm ERR! Unable to authenticate, need: Basic realm="GitHub"
# ... then you might find that removing this line may form part of the
# solution!
always-auth=true

# This is the registry to PULL from, so you likely want it to be npm-all to
# get access to all npm repos, rather than npm-internal (private repos only).
registry=https://nexus.vsfi.ru/repository/npm-shisha-proxy-modules/

# base64-encoding of the username-password pair for your Nexus Repository
# Manager. In this case: admin:admin123
# _auth=bnBtLXByb3h5LXVzZXI6ZmhneTEzOThoZmcy
//nexus.vsfi.ru/repository/npm-shisha-proxy-modules/:_auth=bnBtLXByb3h5LXVzZXI6ZmhneTEzOThoZmcy
